<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Pset 5: The Penultimate. 
					</h1>
					<p class="subtleHeading"><span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>Due: Friday, May 26th, 10:30A.M.
				</p>

				</div>
				<hr/>

				<center>
				<img style="width:50%" src="{{pathToRoot}}img/psets/pset5.png">	
				<p style="text-align:center"><i>Warmups, deeper questions, titanic, peer grading and a/b testing</i>
			</center>
			</div>
		</div>


		
		
				
		<div class="row">
			<div class="col-sm-12">
				

				
				<h2>Resources</h2>
				<hr/>
				<p>
					<div class="row">
						<div class="col-sm-2">
							<a href="{{pathToRoot}}psets/pset5.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					<p style="margin-left:20px">PSet</p></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}psets/pset5.zip"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					<p style="margin-left:13px">Datasets</p></a>
						</div>

						<div class="col-sm-2">
							<a href="{{pathToRoot}}titanic.html"><span class="glyphicon glyphicon-paperclip" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					<p style="margin-left:13px">Titanic</p></a>
						</div>

						
					</div>
					<br/>
				</p>

				<h2>Errata</h2>
					<hr/>
				<p>
					<div class="alert alert-info"><b>Note:</b> since parts of this pset are new there may be questions or issues that come up. We will keep a list of them here.</div>
				</p>

				<p>
					<ul class="list-group">
					 
					  <li class="list-group-item">
					 	<b>Update to problem 6</b>: It was decided that this problem was particularly hard so I moved it from the warmup section to the deeper question section. The problem numbering remained the same. I broke down the problem into three subparts to help guide you through the problem. Update made on May 18th at 7PM.
					 </li>

					 <li class="list-group-item">
					 	<b>Update to problem 13e</b>: I added a hint. It will be helpful to visualize the histogram of grades given to the control assignment. Update made on May 18th at 7PM.
					 </li>
					 
					
					</ul>
				</p>

			</div>
		</div>


	

		%include templates/parts/footer.html

	</div>

	<script type="text/javascript">
		$( ".moment" ).each(function( i ) {
			var date = $(this).html()

			var fromStr = moment(date, "YYYYMMDD").fromNow()

			$(this).html(fromStr)
		  });
		//alert(moment("20160101", "YYYYMMDD").fromNow())
	</script>

</body>
