<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Pset 6: Machine Learning. 
					</h1>
					<p class="subtleHeading"><span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>Due: Friday, Dec 8th, 11:59P.M.
				</p>

				</div>
				<hr/>

				<center>
				<img style="width:80%" src="{{pathToRoot}}img/psets/pset6.png">	
				<p style="text-align:center"><i>Deep Learning derivations, Naive Bayes and Logistic Regression implementation.</i>
			</center>
			</div>
		</div>


		
		
				
		<div class="row">
			<div class="col-sm-12">
				

				
				<h2>Resources</h2>
				<hr/>
				<p>
					<div class="row">
						<div class="col-sm-2">
							<a href="{{pathToRoot}}psets/pset6.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					<p style="margin-left:20px">PSet</p></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}psets/pset6.zip"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					<p style="margin-left:13px">Datasets</p></a>
						</div>


						
					</div>
					<br/>
				</p>


			</div>
		</div>


	

		%include templates/parts/footer.html

	</div>

	<script type="text/javascript">
		$( ".moment" ).each(function( i ) {
			var date = $(this).html()

			var fromStr = moment(date, "YYYYMMDD").fromNow()

			$(this).html(fromStr)
		  });
		//alert(moment("20160101", "YYYYMMDD").fromNow())
	</script>

</body>
