<head>

	%include templates/parts/head.html

	<link rel="stylesheet" href="{{pathToRoot}}css/galton.css">
	<script src="{{pathToRoot}}js/matter.js"></script>
	<script src="{{pathToRoot}}js/galton.js"></script>

</head>
<body>

	

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container" id="indexContainer">
		<div style="">
			<div class="row" id = "indexHead">


					<div class="col-sm-12">
						
			        	<div id="logo">
							<a href="{{pathToRoot}}demos/imageDist.html">
								<img id="logoImg" src="{{pathToRoot}}img/home/logo-gen.png"></img>
							</a>
						</div>
						<div id="headerText" style="padding-bottom:15px;">
							<div id="title">
								CS109: Probability for Computer Scientists
							</div>
							<div>
								Autumn 2017
							</div>
							<div>
								Monday, Wednesday, Friday 3:30pm to 4:20pm in <a href="https://www.google.com/maps/place/William+R.+Hewlett+Teaching+Center,+370+Serra+Mall,+Stanford,+CA+94305/@37.4289461,-122.1733849,19z/data=!3m1!4b1!4m5!3m4!1s0x808fbb2ae177cc91:0x5351ffed56456da8!8m2!3d37.428945!4d-122.1728377">Hewlett 200</a> 
							</div>
						</div>
					</div>
	        	</div>
	        </div>

        <div class="row">
			<div class="col-sm-12">
				<hr/>

				<!--<div class="alert alert-success" role="info">To contribute to today's demo, please fill out this form: <a href="https://goo.gl/jCMY18">https://goo.gl/jCMY18</a></div>-->

				
			</div>
		</div>

        
        
        <div class="row">

			<div class="col-sm-3" id="infoCol">
				<!-- Links -->
				<div>
					<p class="subtleHeading">RESOURCES</p>

					<!--<span class="sidebaricon glyphicon glyphicon-user" aria-hidden="true"></span>
					<a href="">Staff</a><br/>-->

					<span class="sidebaricon glyphicon glyphicon-th-large" aria-hidden="true"></span>
					<a href="{{pathToRoot}}/schedule.html">Schedule</a> <br/>

					<!--<span class="sidebaricon glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
					<a href="https://mvideox.stanford.edu/Course/896">Lecture Videos</a> <br/>-->

					<span class="sidebaricon glyphicon glyphicon-user" aria-hidden="true"></span>
					<a href="{{pathToRoot}}/handouts/staff.html">Staff / Office Hours</a> <br/>

					<img src="img/icons/piazza-icon.png" class="sidebaricon" alt="icon">
					<a href="https://piazza.com/stanford/fall2017/cs109/">Piazza</a> <br/>

					<span class="sidebaricon glyphicon glyphicon-book" aria-hidden="true"></span>
					<a href="{{pathToRoot}}courseReader.html">Course Reader</a> <br/>


					
					<!--<span class="sidebaricon glyphicon glyphicon-book" aria-hidden="true"></span>
					<a href="">Text Book</a> <br/>-->

				

					<!--<span class="sidebaricon glyphicon glyphicon-backward" aria-hidden="true"></span>
					<a href="{{pathToRoot}}/handouts/past.html">Past Quarters</a> <br/>-->


					<!--<img src="img/icons/socrative.png" class="sidebaricon" alt="icon">
					<a href="https://b.socrative.com/login/student/">Socrative</a> <br/>-->

					<span class="sidebaricon glyphicon glyphicon-signal" aria-hidden="true"></span>
					<a href="https://gradescope.com/courses/11572">Gradescope</a> <br/>

					<!--<img src="img/icons/spotify.ico" class="sidebaricon" alt="icon">
					<a href="https://play.spotify.com/user/1251835474/playlist/3O343f5rIdxCMofp8rCzcs?play=true&utm_source=open.spotify.com&utm_medium=open">Spotify Playlist</a> <br/>-->
					
					

					

					<!--<span class="sidebaricon glyphicon glyphicon-film" aria-hidden="true"></span>
					<a href="">Videos</a> <br/>-->
				</div>

				<hr/>

				<div>
				<p class="subtleHeading">PROBLEM SETS</p>
				
					<span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true"></span>
					<a href="{{pathToRoot}}pdfs/ProblemSet1.pdf"> Problem Set 1</a><br/>

					<span class="sidebaricon glyphicon glyphicon-link" aria-hidden="true"></span>
					<a href="{{pathToRoot}}psets/pset2.html">Problem Set 2</a><br/>

					<span class="sidebaricon glyphicon glyphicon-link" aria-hidden="true"></span>
					<a href="{{pathToRoot}}psets/pset3.html">Problem Set 3</a><br/>

					<span class="sidebaricon glyphicon glyphicon-link" aria-hidden="true"></span>
					<a href="{{pathToRoot}}psets/pset4.html">Problem Set 4</a><br/>

					

				</div>
				<hr/>

				<div>
				<p class="subtleHeading">EXAMS</p>
					<p>
						Midterm<br/>
						<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>Thursday, Nov 2nd<br/>
						<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>7-9pm<br/>
						<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Based on last name
					</p>
					<p>
						Final<br/>
						<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>Thursday, Dec 14th<br/>
						<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>3:30-6:30pm<br/>
						<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Hewlett 200
					</p>
				</div>
				<hr/>

				<p class="subtleHeading">Teaching Team</p>

				<span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> cs109@cs.stanford.edu<br/>


				<a href="handouts/staff.html">

					<img src="img/people/staff.png" style="width:100%;margin-top:5px" class="img-responsive"></img>
				</a>
				<hr/>

					

				<!-- Handouts 
				<div>
					<p class="subtleHeading">HANDOUTS</p>

					<a href="">1. Syllabus</a><br/>
					<a href="">2. Class Placement</a><br/>
					<a href="">3. Honor Code</a><br/>
				</div>-->



				<p class="subtleHeading">Lecturer</p>
				<div class="staffBox">
					<!--<img src="img/people/chris.bmp" class="staffImg"></img><br/>-->
					<a href="http://stanford.edu/~cpiech">Chris Piech</a> <br/>
					<span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> piech@cs.stanford.edu<br/>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates 193<br/>
					<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Thursday 1-3pm
				</div>

				
				

				<div style="height:10px"></div>

				<hr/>
				
			</div>
			<div class="col-sm-9" >
				<!-- Newsfeed -->

				%include templates/parts/announcements.html
					
			</div>
		</div>

		%include templates/parts/footer.html


	</div>

	<!--<script>
		var BOTTOM_POS = 0;
		var INFO_COL = null;

		window.onload = function() {
			// inforCol_absBottomY - screen_height
			//var infoTop = document.getElementById("infoCol").getBoundingClientRect().top;
			//var infoHeight = $("#infoCol").height()
			//BOTTOM_POS = infoTop + infoHeight - screen.height;
			INFO_COL = $('#infoCol')
		}

		window.onscroll = function () {
			// point at which I want to start scrolling is about 866
			// offset from the scroll top is about 875
			var topPos = $(document.body).scrollTop() - 875;
			//console.log($(document.body).scrollTop())
			INFO_COL.css({"position" : "relative", "top" : topPos});
		};
	</script>-->

	<script type="text/javascript">
		$( ".moment" ).each(function( i ) {
			var date = $(this).html()

			var fromStr = moment(date, "YYYYMMDDHH").fromNow()

			$(this).html(fromStr)
		  });
		//alert(moment("20160101", "YYYYMMDD").fromNow())
	</script>

	<script>
	    $.get("http://ipinfo.io", function(response) {
	    	console.log(response);
	    	if(!(response.region === 'California')) {
	    		$('#myModal').modal()
	    	} 
	    	
		}, "jsonp");
	</script>

	

</body>
