<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Extra Practice Problems
					</h1>
					

				</div>
				<hr/>
			</div>
		</div>

		

		<div class="row">
			<div class="col-sm-12">
				<ul>
					<li><a class="popup" href="{{pathToRoot}}pdfs/PracticeMidterm.pdf" target="_blank">Practice Midterm</a> [<a href="{{pathToRoot}}pdfs/PracticeMidtermSoln.pdf">Soln</a>]</li>
					<li><a class="popup" href="{{pathToRoot}}extraPractice/Extra Problems 1.pdf" target="_blank">More Practice Problems #1</a> [<a href="{{pathToRoot}}extraPractice/Extra Problems 1 Soln.pdf">Soln</a>]</li>
					<li><a class="popup" href="{{pathToRoot}}extraPractice/Extra Problems 2.pdf" target="_blank">More Practice Problems #2</a> [<a href="{{pathToRoot}}extraPractice/Extra Problems 2 Soln.pdf">Soln</a>]</li>
					<li><a class="popup" href="{{pathToRoot}}extraPractice/MidtermSpr2017.pdf" target="_blank">Midterm Spring 2017</a> [<a href="{{pathToRoot}}extraPractice/MidtermSpr2017Soln.pdf">Soln</a>]</li>
					<li><a class="popup" href="{{pathToRoot}}extraPractice/MidtermSpr2016.pdf" target="_blank">Midterm Spring 2016</a> [<a href="{{pathToRoot}}extraPractice/MidtermSpr2016Soln.pdf">Soln</a>]</li>
					<li><a class="popup" href="{{pathToRoot}}extraPractice/MidtermReview.pdf" target="_blank">Midterm Review Session</a></li>
	
				</ul>
			</div>
		</div>
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
