<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Final Practice Problems
					</h1>
					

				</div>
				<hr/>
			</div>
		</div>

		<!--<p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/handouts/whatsNext/next.png">	
			</center>
		</p>-->

		<div class="row">
			<div class="col-sm-12">
				<div class="alert alert-success" role="info"><b>Last updated:</b> Tuesday, May 31st at 5:30PM. If we collect more practice problems we will update this page.</div>

				<p>When possible we will release solutions alongside the problems. This resource will much <b>much</b> more useful for you if you work on the problems as if they were exam problems and only look at the solutions when you are finished.
				</p>

				<hr/><p> </p>

				<h2>Practice Final:</h2>
				<p class="subtleHeading">
					Official Practice Exam
				</p>

				<div class="row">
					<div class="col-sm-2">
						<center>
								<a href="{{pathToRoot}}pdfs/42 PracticeFinal.pdf"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br/>Problems
								</a>
						</center>
					</div>
					<div class="col-sm-2">
						<center>
								<a href="{{pathToRoot}}pdfs/43 PracticeFinalSoln.pdf"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span></br>Solutions
								</a>
						</center>
					</div>
				</div>
				<p> </p>
				<p><i>Approximately the same difficulty and length as the final.</i>

				<hr/>
				<p> </p>

				<h2>Extra Practice Problems:</h2>
				<p class="subtleHeading">
					Written by TA Casey Haaland
				</p>

				<div class="row">
					<div class="col-sm-2">
						<center>
								<a href="{{pathToRoot}}stuff/review.pdf"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br/>Problems
								</a>
						</center>
					</div>
					<div class="col-sm-2">
						<center>
								<a href="{{pathToRoot}}stuff/reviewSoln.pdf"><span class="glyphicon glyphicon-save-file" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span></br>Solutions
								</a>
						</center>
					</div>
				</div>
				<p> </p>
				<p><i>Some of these problems are quite hard.</i>
			</div>
		</div>
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
