<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Office Hours for CS109
					</h1>
					

				</div>
				<hr/>
			</div>
		</div>

		<!--<p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/handouts/whatsNext/next.png">	
			</center>
		</p>-->

		<div class="row">
			<div class="col-sm-12">
				<p>
					Ta office hours will start week two. Chris holds office hours from 2pm to 4pm on Thursday.
				</p>
				
			</div>
		</div>
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
