<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Links to Past Offerings of CS109
					</h1>
					

				</div>
				<hr/>
			</div>
		</div>

		<!--<p>
			<center>
				<img style="width:500px" src="{{pathToRoot}}img/handouts/whatsNext/next.png">	
			</center>
		</p>-->

		<div class="row">
			<div class="col-sm-12">
				<ul>
					<li><a class="popup" href="http://web.stanford.edu/class/archive/cs/cs109/cs109.1164/" target="_blank">2016 Winter (Mehran Sahami)</a></li>
	
				</ul>
			</div>
		</div>
		
		
				
		


	

		%include templates/parts/footer.html

	</div>

</body>
