<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						CS109 Teaching Team (and Office Hours)
					</h1>
					

				</div>
				<hr/>

			</div>
		</div>

		<div class="row">
	      <div class="col-sm-12">
	      	<iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vdlr9q2h4u9mqdn23kttcuec30%40group.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	      	

	      	<hr/>



	      	<h2>Office Hour Location</h2>
	      	<p>
	      	All office hours (except Chris') are going to be held in the basement of Huang in the work area infront of the Heroes' Wall. Some office hours are also online. Online office hours will be hosted in Huang and we encourage on campus students to go visit them -- in addition to being in person there will also be a link (see Piazza) that allows SCPD students to ask questions.
	      </p>
	      <p>
	      	<img style="width:80%"src ="{{pathToRoot}}img/people/officeHourHuang.jpg"></img>
	      </p>
	      	
	      
	      	<hr/>
	      </div>
	     </div>

<!--Will Monroe <wmonroe4@stanford.edu>,


Ben Ulmer ulmerb@stanford.edu,
Michela Meister mmeister@stanford.edu,
William Chen wic006@stanford.edu,
Priyanka Nigam <pnigam@stanford.edu>,
Govi Dasu <gdasu@stanford.edu>,
Luke Johnston <lukej@stanford.edu>,
Winnie Lin <wl1915@stanford.edu>,
	     </div>-->

		<div class="row">
	      <div class="col-sm-12">
	      	<h2>Teaching Team</h2>
	      </div>
	   </div>

		<div class="row">
	      <div class="col-sm-4">
	        <div class="thumbnail">
		      <img class = "thumbnailImg" style="width:100%" src="{{pathToRoot}}img/people/chris.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>Lecturer: Chris Piech</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> piech@cs.stanford.edu<br/>
				<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Wed 1-3pm<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates 193
		      </div>
		    </div>
	      </div>

	      <div class="col-sm-4">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/willM.jpg" style="width:100%"  alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>Head TA: William Monroe</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> wmonroe4@stanford.edu<br/>
				<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> M4-6p, W12:30-2:30p<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang-->
		      </div>
		    </div>
	      </div>

	      <div class="col-sm-4">
	        <div class="thumbnail">
		      <img class = "thumbnailImg" src="{{pathToRoot}}img/people/winnieLin.jpeg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Winnie Lin</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> wl1915@stanford.edu<br/>
				<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> M 2-4p, Th 6-8p<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang-->
		      </div>
		    </div>
	      </div>

	    </div>
	    <div class="row">

	      <div class="col-sm-4">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/ben.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Ben Ulmer</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> ulmerb@stanford.edu<br/>
				<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Tu 7-9p, W 9-11a<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang-->
		      </div>
		    </div>
	      </div>
	      
	      
	      
	    
	      
	      <div class="col-sm-4">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/michela.JPG" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Michela Meister</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> mmeister@stanford.edu<br/>
				<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Tu 9-1p<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang-->
		      </div>
		    </div>
	      </div>

	      <div class="col-sm-4">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/priyanka.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Priyanka Nigam</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> pnigam@stanford.edu<br/>
				<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> M 6-8p, F 9-11a<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang-->
		      </div>
		    </div>
	      </div>

	   </div>
		<div class="row">
	      
	      <div class="col-sm-4">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/willC.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: William Chen</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> wic006@stanford.edu<br/>
				<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> M10:30-12:30a, W7-9p<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang-->
		      </div>
		    </div>
	      </div>

	      <div class="col-sm-4">
	        <div class="thumbnail">
		      <img src="{{pathToRoot}}img/people/govi.jpg" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Govi Dasu</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> gdasu@stanford.edu<br/>
				<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Th 4-6p<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang-->
		      </div>
		    </div>
	      </div>


	      <div class="col-sm-4">
	        <div class="thumbnail">
		      <img class = "thumbnailImg" src="{{pathToRoot}}img/people/luke.png" alt="Generic placeholder thumbnail">
		      <div class="caption">
		        <b>TA: Luke Johnston</b><br/>
		        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> lukej@stanford.edu<br/>
				<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> M12:30-2:30p and 8-10p<br/>
				<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang-->
		      </div>
		    </div>
	      </div>

	 
	      
	      
	      
	    </div>

		

		%include templates/parts/footer.html

	</div>

</body>
