<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						CS109 Teaching Team (and Office Hours)
					</h1>
					

				</div>
				<hr/>

			</div>
		</div>

		<div class="row">
	      <div class="col-sm-12">

	      	
	      	<iframe src="https://calendar.google.com/calendar/embed?mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=4kbk03t3p2a036c169dv9ltkv8%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
	      	

	      	<hr/>



	      	<h2>Office Hour Location</h2>
	      	<p>
	      	All office hours (except Chris') are going to be held in the basement of Huang in the work area infront of the Heroes' Wall. Some office hours are also online. Online office hours will be hosted in Huang and we encourage on campus students to go visit them -- in addition to being in person there will also be a link (see Piazza) that allows SCPD students to ask questions.
	      </p>
	      <p>
	      	<img style="width:80%"src ="{{pathToRoot}}img/people/officeHourHuang.jpg"></img>
	      </p>
	      	
	      
	      	<hr/>

	      	<div class="row">
		      <div class="col-sm-12">
		      	<h2>Teaching Team</h2>
		      </div>
		   </div>

	      	<div class="row">
		      <div class="col-sm-3 nopadding">
		        <div class="thumbnail">
			      <img class="thumbnailImg" style="width:100%" src="{{pathToRoot}}img/people/chris.jpg" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>Lecturer: Chris Piech</b><br>
			        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>piech@cs.stanford<br>
					<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>Wed 1-3pm<br>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Gates 193
			      </div>
			    </div>
		      </div>

		      <div class="col-sm-3 nopadding">
		        <div class="thumbnail">
			      <img src="{{pathToRoot}}img/people/benU.jpg" style="width:100%" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>Head TA: Ben Ulmer</b><br>
			        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>ulmerb@stanford<br>
					<span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Th 1:30p, 240-202<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Fri 1:30p, 80-113
			      </div>
			    </div>
		      </div>

		      <div class="col-sm-3 nopadding">
		        <div class="thumbnail">
			      <img class="thumbnailImg" src="{{pathToRoot}}img/people/anaM.jpg" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>TA: Ana-Maria Istrate</b><br>
			        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>aistrate@stanford<br>
					<span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Wed 4:30p 200-032<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Wed 6:00p 240-201
			      </div>
			    </div>
		      </div>

		      <div class="col-sm-3 nopadding">
		        <div class="thumbnail">
			      <img class="thumbnailImg" style="width:100%" src="{{pathToRoot}}img/people/govi.jpg" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>TA: Gobi Dasu</b><br>
			        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>gdasu@stanford<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Wed 4:30p, 60-107<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Th 4:30p, 200-032
			      </div>
			    </div>
		      </div>

		    </div>

		    <div class="row">
		      

		      <div class="col-sm-3 nopadding">
		        <div class="thumbnail">
			      <img src="{{pathToRoot}}img/people/juliaD.jpg" style="width:100%" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>TA: Julia Daniel</b><br>
			        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>cs-jdaniel@stanford<br>
					<span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Th 10:30a, 540-103<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Th 1:30p, 200-124
			      </div>
			    </div>
		      </div>

		      

		      <div class="col-sm-3 nopadding">
		        <div class="thumbnail">
			      <img src="{{pathToRoot}}img/people/luke.png" style="width:100%" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>TA: Luke Johnston</b><br>
			        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>lukej@stanford<br>
					<span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Th 10:30a, 240-202<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Th 6:00p, 240-201
			      </div>
			    </div>
		      </div>

		      <div class="col-sm-3 nopadding">
		        <div class="thumbnail">
			      <img class="thumbnailImg" style="width:100%" src="{{pathToRoot}}img/people/elliotC.jpg" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>TA: Elliot Chartock</b><br>
			        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>elboy@stanford<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Th 1:30p, 200-230<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Th 3:00p, 240-201
			      </div>
			    </div>
		      </div>

		      <div class="col-sm-3 nopadding">
		        <div class="thumbnail">
			      <img src="{{pathToRoot}}img/people/ericR.jpg" style="width:100%" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>TA: Eric Redondo</b><br>
			        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>eredondo@stanford<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Fri 1:30p, 240-201
					<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> M4-6p, W12:30-2:30p<br/>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang-->
			      </div>
			    </div>
		      </div>

		    </div>

		    <div class="row">
		      

		      

		      <div class="col-sm-3 nopadding">
		        <div class="thumbnail">
			      <img src="{{pathToRoot}}img/people/yulingL.jpg" style="width:100%" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>TA: Yuling Liu</b><br>
			        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>yulingl@stanford<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Wed 4:30p, 200-230<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Wed 6:00p, 200-032
					<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> M4-6p, W12:30-2:30p<br/>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Huang-->
			      </div>
			    </div>
		      </div>

		      <div class="col-sm-3 nopadding">
		        <div class="thumbnail">
			      <img src="{{pathToRoot}}img/people/brendanC.jpg" style="width:100%" alt="Generic placeholder thumbnail">
			      <div class="caption">
			        <b>TA: Brendan Corcoran</b><br>
			        <span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>bmc2016@stanford<br>
			        <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Th 4:30p, 240-201<br>
			         <span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true"></span>Th 3:00p, 200-124
					<!--<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> M4-6p, W12:30-2:30p<br/>
					 Huang-->
			      </div>
			    </div>
		      </div>

		    </div>

	      </div>

	      
	    </div>

		

		%include templates/parts/footer.html

	</div>

</body>
