<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Final Exam</div>
        <div class="moment">2017120415</div>
    </div>
    <p>
        The CS109 final is coming up: it is next Thursday (Dec 14th) from 3:30 to 6:30pm in Hewlett 200 (our normal classroom). The final is open notes, open book, closed calculator. 
    </p>

    <p>
        The best way to study is with the <a href="{{pathToRoot}}pdfs/PracticeFinal.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Practice Final</a>. Solutions to the practice will be released on Wednesday. 
    </p>


    
</div>

<div class="well">
    <div class="newsfeedHeader">

        <div class="newsfeedTitle">Final PSet</div>
        <div class="moment">2017111715</div>
    </div>
    <p>
        The <a href="{{pathToRoot}}psets/pset6.html">final problem set</a> is now availible. You will derive update equations for a simple deep learning architecture and will implement two machine learning algorithms, Naive Bayes and Logistic Regression. You will then use these algorithms to make predictions on Heart tomography, Netflix movies and Ancestry. 
    </p>

    <p>
        <center>
        <a href="{{pathToRoot}}psets/pset6.html">
        <img class="media-object" src="{{pathToRoot}}img/psets/pset6b.png" style="width:60%">
    </center>
    </a>
    </p>

    
</div>

<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Linear Regression Lite</div>
         <div class="moment">2017111409</div>
    </div>
    <p>
        Here is a khan style explanation of the last example from the Monday (Nov 13th) class. It shows how a one parameter version of the linear regression algorithm can be derived using MLE. For a written verion, which also includes the gradient ascent code, see the <a href="{{pathToRoot}}lectureHandouts/22 GradientAscent.pdf"><span class="glyphicon glyphicon-file"></span> lecture handout</a> from Monday.
    </p>
    <p>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/hCVa1mZeM8E?rel=0&amp;start=35" frameborder="0" allowfullscreen></iframe>
    </p>
</div>



<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">CS109 Contest</div>
         <div class="moment">2017111015</div>
    </div>
    <p>
        This quarter we are going to hold the second ever Stanford  Probability for Computer Scientists Contest. The contest is completely optional. See the <a href="{{pathToRoot}}pdfs/Contest.pdf"><span class="glyphicon glyphicon-file"></span> contest handout</a> for more details.
    </p>
    <p>
        <a href="{{pathToRoot}}pdfs/Contest.pdf">
        <img class="media-object" src="{{pathToRoot}}img/home/contest.png" style="width:100%">
    </a>
    </p>
</div>

<div class="well">
    <div class="newsfeedHeader">

        <div class="newsfeedTitle">PSet #5</div>
        <div class="moment">2017110816</div>
    </div>
    <p>
        The <a href="{{pathToRoot}}psets/pset5.html">penultimate problem set</a> is now availible. The problem set includes problems such as evaluating peer grading, a/b testing and an origin story for beta distributions on assignment grades.
    </p>

    <p>
        <center>
        <a href="{{pathToRoot}}psets/pset5.html">
        <img class="media-object" src="{{pathToRoot}}img/psets/pset5.png" style="width:60%">
    </center>
    </a>
    </p>

    
</div>


<hr/>
<p class="subtleHeading">Old Announcements</p>

<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Midterm Distribution</div>
        <div class="moment">2017110618</div>
    </div>

    <p>
       The <a href="{{pathToRoot}}restricted/Midterm.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> midterm solutions</a> are now availible. If you have any questions about how to solve these problems, go talk to a TA or Chris. We would love to explain how to approach these (and similar) problems. You can also see the <a href="{{pathToRoot}}/handouts/midterm.html"><span class="glyphicon glyphicon-link" aria-hidden="true" title="pdf"></span> full statistics</a>.

       <p>
       <center><a href="{{pathToRoot}}handouts/midterm.html"><img src="{{pathToRoot}}img/midterm/midtermDist.png" style="max-width:80%"></a></center>
   </p>

</div>

<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Midterm on Thursday</div>
        <div class="moment">2017102714</div>
    </div>

    <p>
        The CS109 midterm is coming up: it is next Thursday (Nov 2nd) from 7 to 9pm. The midterm is open notes, open book, closed calculator. The location of your midterm is based on your last name:<br/>
            A - K: Hewlett 201<br/>
            L - S: 260-113<br/>
            T - Z: 300-300
        </p>

        <p>The best way to study is with the <a href="{{pathToRoot}}pdfs/PracticeMidterm.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Practice Midterm</a>. Solutions to the practice will be released on Monday. On Monday after class (4:30p) in Hewlett 201 we are going to hold a midterm review session. Notes from the session will be published.
    </p>
</div>

<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Problem Set 4</div>
        <div class="moment">2017102515</div>
    </div>

    <p>
        <a href="{{pathToRoot}}psets/pset4.html">PSet #4</a> has been released! It has you predict users based on biometric keystrokes. The pset clearly delineates the questions that you should do before the midterm :-).
    </p>

    <center><a href="{{pathToRoot}}psets/pset4.html"><img src="{{pathToRoot}}img/psets/pset4b.jpg" style="max-width:80%"></a></center>

</div>

<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Problem Set 3</div>
        <div class="moment">2017101708</div>
    </div>

    <p>
        <a href="{{pathToRoot}}psets/pset3.html">PSet #3</a> has been released! It uses real probability density functions from the IPCC Climate Change report, has you predict elections and analyze a bloom filter (a probabilistic datastructure).
    </p>

    <center><a href="{{pathToRoot}}psets/pset4.html"><img src="{{pathToRoot}}img/psets/pset4.png" style="max-width:80%"></a></center>

</div>

<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Galton Board</div>
        <div class="moment">2017101210</div>
    </div>

    <p>
        A Galton board is a physical Binomial distribution where the bucket index that a ball falls into R ~ Bin(n,p) where n is the number of levels and p is the probability of going right each time the ball hits a pin. Check out the <a href="{{pathToRoot}}demos/galton.html"><span class="glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> JavaScript demo</a>, and the cool video bellow:<br/>

        <iframe width="100%" height="315" src="https://www.youtube.com/embed/9xUBhhM4vbM" frameborder="0" allowfullscreen></iframe>
    </p>

</div>


<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Python Tutorial (2/2)</div>
        <div class="moment">2017100414</div>
    </div>

    <p>
    	There will be a second and final optional Python tutorial led by TA Yuling Liu, Friday (Oct 6th) from 4:30pm-5:20pm in 370-370. If you missed the first review session, you can catch up by reading 
    	<a href="https://github.com/yulingl/cs109_python_tutorial/blob/master/cs109_python_tutorial.ipynb"><span class="glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Yuling's awesome notes</a>.

    	<p> In this section we are going to go over Python libraries that are useful for probability. Again, python is not required for CS109. However a few problems in the psets require coding and seeing as Python is the language of computer science for probability, its worth learning. 
    </p>

</div>

<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Join Gradescope</div>
        <div class="moment">2017092714</div>
    </div>

    <p>
    	Our gradescope page is live! The entry code is MP5GG5.
		</p>
		<p>
		If you're new to Gradescope, you can join the class by going to https://gradescope.com/ and clicking the button in the top right marked "Sign Up for Free." Select "Student," then enter the entry code, your full name, email address, and 8 digit student id. 
		</p>
		<p>
		If you have any questions, feel free to post on Piazza.
    </p>

</div>

<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Sign up for Section!</div>
        <div class="moment">2017092714</div>
    </div>

    <p>
        Please sign up for section by filling out this form: <br/><a href="https://goo.gl/forms/nEpp2D2ZNQkG0sH22">https://goo.gl/forms/nEpp2D2ZNQkG0sH22</a>. 
	<p>
        Once a week you are going to meet in a small group section. We are going to find the best weekly time for everyone. Section sign ups will close on Saturday at 11:59pm. Preferences are not first come first serve.
    </p>

    

</div>



<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">PSet #1 is out</div>
        <div class="moment">2017092714</div>
    </div>

    <p>
        <a href="{{pathToRoot}}pdfs/ProblemSet1.pdf">PSet #1</a> has been released! It is due next Firday, Oct 6th at 3:00pm. Submission will be via gradescore. Further submission instructions will come out next week. Office hours will start tomorrow -- see the office hour calendar for times and locations. 

        <p>
        	You can optionally write up your problem sets using LaTex. See this <a href="stuff/intro.pdf">intro</a> to LaTex, and the <a href="stuff/intro.tex">LaTex code</a> used to generate it. Though you may install LaTeX, it is often much easier to use an online LaTeX editor. Two good options are: <a href="www.overleaf.com">overleaf.com</a> and <a href="www.sharelatex.com">sharelatex.com</a>.
    </p>

    

</div>

<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Python Tutorial</div>
        <div class="moment">2017092714</div>
    </div>

    <p>
        There will be an optional Python tutorial led by TA Yuling Liu, Friday (Sept 29th) from 4:30pm-5:20pm in 370-370. This will be the first of a two part series which will get you caught up to python in case you have never used it before. Python is not required for CS109. However a few problems in the psets require coding and seeing as Python is the language of computer science for probability, its worth learning. We will record the session.
    </p>

    

</div>

<div class="well">
		<div class="newsfeedHeader">
			<div class="newsfeedTitle">NYT Article on Stats</div>
			<div class="moment">2017092714</div>
		</div>
		<p>
			 </p><div class="media">
			  <div class="media-left">
			    <div style="width:80px;">
			      <img class="media-object" src="https://s0.wp.com/wp-content/themes/vip/nytimes-witw/img/global/nyt-t-logo.png" style="width:80px">
			    </div>
			  </div>
			  <div class="media-body">
			    An article from the New York Times discusses the increasing importance of statistics in computing. The article is entitled <a href="http://www.nytimes.com/2009/08/06/technology/06stats.html">For Today's Graduate, Just One Word: Statistics</a>. On a similar vein, The Wall Street Journal published an article entitled <a href="http://www.wsj.com/articles/SB10001424052702304871704575160553254798886">New Hiring Formula Values Math Pros</a> talking about how employers are seeking computer scientists with training in statistics and probability. CS109 is specifically mentioned.
			  </div>
			</div>
		<p></p>
	</div>

<hr/>



<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">What is CS109?</div>
        <div class="moment">2017092400</div>
    </div>

    <p>
        We put together some handouts to help you understand where we are going to go in CS109 and how we plan to get there. See the <span class="glyphicon glyphicon-apple" aria-hidden="true"></span> <a href="{{pathToRoot}}pdfs/Administrivia.pdf">Administrivia</a> handout for details on logistics.
    </p>

    <p>
     The <span class="glyphicon glyphicon-th-large" aria-hidden="true" title="pdf"></span> <a href="{{pathToRoot}}schedule.html">Course Schedule</a> page shows you the topics that we are going to cover in CS109 and the corresponding readings. We will also post materials from lecture on the schedule page.
    
    </p>

</div>



<div class="well">
    <div class="newsfeedHeader">
        <div class="newsfeedTitle">Welcome</div>
        <div class="moment">2017092400</div>
    </div>

    <p>
    Welcome to CS109! We are looking forward to a fun quarter. Class starts Monday Sept 25th at 3:30pm in Hewlett 200.
    <div class="mapOverlay" onClick="style.pointerEvents='none'"></div>
    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d792.0863441837398!2d-122.1733848707886!3d37.428944998738984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2ae177cc91%3A0x5351ffed56456da8!2sWilliam+R.+Hewlett+Teaching+Center%2C+370+Serra+Mall%2C+Stanford%2C+CA+94305!5e0!3m2!1sen!2sus!4v1506354839576" width="567" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
    </p>

</div>