<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="{{pathToRoot}}/">CS109</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures <span class="caret"></span></a>
          <ul class="dropdown-menu">

          </ul>
        </li>-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lecture Notes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            

            <li><a href="{{pathToRoot}}lectureHandouts/1 Counting.pdf">1 - Counting</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/2 Combinatorics.pdf">2 - Combinatorics</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/3 Probability.pdf">3 - Probability</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/4 CondProbability.pdf">4 - Cond Probability</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/5 Independence.pdf">5 - Independence</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/6 RandomVariables.pdf">6 - Random Variables</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/7 Variance.pdf">7 - Variance</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/8 Poisson.pdf">8 - Poisson</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/8 Poisson.pdf">9 - Continuous</a></li>
            
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Problem Sets<span class="caret"></span></a>
          <ul class="dropdown-menu">

             <li><a href="{{pathToRoot}}pdfs/ProblemSet1.pdf">Problem Set 1</a></li>
             <li><a href="{{pathToRoot}}psets/pset2.html">Problem Set 2</a></li>

             <hr/>
             <li><a href="{{pathToRoot}}restricted/PSet1Soln.pdf">PSet 1 Soln</a></li>

             
           
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Handouts<span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li><a href="{{pathToRoot}}pdfs/Administrivia.pdf">Administrivia</a></li>
           <li><a href="{{pathToRoot}}pdfs/CalculationRef.pdf">Calculation Ref.</a></li>
           <hr>
           <li><a href="{{pathToRoot}}sections/section1.pdf">Section 1</a></li>
           <li><a href="{{pathToRoot}}sections/section1Soln.pdf">Section 1 Soln</a></li>
           <li><a href="{{pathToRoot}}sections/section2.pdf">Section 2</a></li>

          </ul>
        </li>



        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}demos/serendipity.html">Serendipity</a></li>
            <li><a href="{{pathToRoot}}demos/naturalBayes.html">Medical Tests</a></li>
            <li><a href="{{pathToRoot}}demos/galton.html">Galton Board</a></li>
            <li><a href="{{pathToRoot}}demos/jurors.html">Jurors</a></li>
          </ul>
        </li>

        <li><a href="{{pathToRoot}}handouts/staff.html">Office Hours</a></li>
       
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{pathToRoot}}schedule.html"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Schedule</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
