<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="{{pathToRoot}}/">CS109</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures <span class="caret"></span></a>
          <ul class="dropdown-menu">

          </ul>
        </li>-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lecture Notes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            

            <li><a href="{{pathToRoot}}pdfs/02 Counting.pdf">1 - Counting</a></li>
            <!--<li><a href="{{pathToRoot}}lectureHandouts/2 Combinatorics.pdf">2 - Combinatorics</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/3 Probability.pdf">3 - Probability</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/4 Conditional Probability.pdf">4 - Conditional Probability</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/5 Independence.pdf">5 - Independence</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/6 Random Variables.pdf">6 - Random Variables</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/7 Variance.pdf">7 - Variance</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/8 More Discrete.pdf">8 - Poisson and More</a></li>
            <li><a href="{{pathToRoot}}lectureHandouts/9 Continuous Variables.pdf">9 - Continuous Variables</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/10 Gauss.pdf">10 - Gauss</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/11 Exponential and Joint.pdf">11 - Exponential and Joint</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/12 Continuous and Multinomial Joint.pdf">12 - Continuous and Multinomial Joint</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/13 Properties of Joint Distributions.pdf">13 - Properties of Joint Distributions</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/14 Convolution and Conditional.pdf">14 -  Convolution and Conditional</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/15 Beta.pdf">15 -  Beta</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/16 Great Expectations.pdf">16 -  Great Expectations</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/17 Covariance and Correlation.pdf">17 - Covariance and Correlation</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/18 Samples and Bootstrap.pdf">18 - Samples</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/19 CLT.pdf">19 - CLT</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/20 MLE.pdf">20 - MLE</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/21 MAP.pdf">21 - MAP</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/22 Naive Bayes.pdf">22 - Naive Bayes</a></li>
             <li><a href="{{pathToRoot}}lectureHandouts/23 Logistic Regression.pdf">23 - Logistic Regression</a></li>
              <li><a href="{{pathToRoot}}lectureHandouts/24 Deep Learning.pdf">24 - Deep Learning</a></li>-->
            
            
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Problem Sets<span class="caret"></span></a>
          <ul class="dropdown-menu">

             <li><a>None Yet</a></li>

             
           
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li><a href="{{pathToRoot}}pdfs/Administrivia.pdf">Administrivia</a></li>
           

          </ul>
        </li>



        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>None Yet</a></li>

          </ul>
        </li>

        <li><a href="{{pathToRoot}}handouts/staff.html">Office Hours</a></li>
       
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{pathToRoot}}schedule.html"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Schedule</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
