<div class="table-responsive">
<table class="table table-bordered">
<thead>
   <tr>
      <th style="col-sm-3">Week</th>
      <th style="col-sm-3">Monday</th>
      <th style="col-sm-3">Wednesday</th>
      <th style="col-sm-3">Friday</th>
   </tr>
</thead>
<tr>
<td class="calendarWeekCell">1</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Ch. 1.1 - 1.2</div>
         <p class="subtleHeading">Sept 25th</p>
         Counting<br/><br/>
         <p class="lectureMaterials">

<a href="{{pathToRoot}}lectures/1 Welcome.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/1 Counting.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}pdfs/Administrivia.pdf"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Administrivia</a>

   </p>
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Ch. 1.3 - 1.6</div>
         <p class="subtleHeading">Sept 27th</p>
         Permutations and Combinations<br/><br/>
         <p class="lectureMaterials">

<a href="{{pathToRoot}}lectureHandouts/1 Counting.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}pdfs/CalculationRef.pdf"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Calculation Reference</a>
        
   </p>
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Ch. 2.1 - 2.5, 2.7</div>
         <p class="subtleHeading">Sept 29th</p>
         Axioms of Probability<br/><br/>

<a href="{{pathToRoot}}lectures/3 IntroProbability.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/3 Probability.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}demos/serendipity.html"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Serendipity Demo</a>
      </div>
   </td>
<tr>
<td class="calendarWeekCell">2</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Chapter 3.1-3.3</div>
         <p class="subtleHeading">Oct 2nd</p>
         Conditional Probability,
         Bayes Theorem<br/>

<a href="{{pathToRoot}}lectures/4 CondProbability.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/4 CondProbability.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}demos/naturalBayes.html"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Medical Test Demo</a>
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Lecture Handout</div>
         <p class="subtleHeading">Oct 4th</p>
         Independence<br/><br/>

   <a href="{{pathToRoot}}lectures/5 Independence.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/5 Independence.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}sections/section1.pdf"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Section 1</a> 

      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br>Due: PSet #1<br>Chapter 3.4-3.5</div>
         <p class="subtleHeading">Oct 6th</p>
         Random Variables<br/><br/><br/>
<a href="{{pathToRoot}}lectures/6 RandomVariables.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/6 RandomVariables.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>

   
      </div>
   </td>
<tr>
<td class="calendarWeekCell">3</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Chapter 4.1-4.4</div>
         <p class="subtleHeading">Oct 9th</p>
         Variance, Bernoulli and Binomial<br/><br/>
         <a href="{{pathToRoot}}lectures/7 Variance.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/7 Variance.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>

   
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Chapter 4.5-4.6</div>
         <p class="subtleHeading">Oct 11th</p>
         Poisson and More<br/><br/><br/>
         <a href="{{pathToRoot}}lectures/8 Poisson.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/8 Poisson.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}sections/section2.pdf"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Section 2</a> 


      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Chapter 4.7-4.10</div>
         <p class="subtleHeading">Oct 13th</p>
         Continuous Random Variables<br/><br/><br/>
         <a href="{{pathToRoot}}lectures/9 Continuous.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/9 Continuous.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}demos/jurors.html"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Jurors</a> 

      </div>
   </td>
<tr>
<td class="calendarWeekCell">4</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br>Due PSet #2<br>Read: Chapter 5.1-5.3</div>
         <p class="subtleHeading">Oct 16th</p>
         Normal Distribution<br/><br/>

         <a href="{{pathToRoot}}lectures/10 Gaussian.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/10 Gaussian.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}demos/cdf.html"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Normal CDF Demo</a>

      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Chapter 5.4-5.6</div>
         <p class="subtleHeading">Oct 18th</p>
         Joint Distributions<br/><br/>

         <a href="{{pathToRoot}}lectures/11 Joint.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/11 Joint.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}sections/section3.pdf"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Section 3</a>

      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Chapter 6.1</div>
         <p class="subtleHeading">Oct 20th</p>
         Continuous Joint Distributions<br/><br/>

         <a href="{{pathToRoot}}lectures/12 ContJoint.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/12 ContJoint.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>


      </div>
   </td>
<tr>
<td class="calendarWeekCell">5</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Chapter 6.2-6.3</div>
         <p class="subtleHeading">Oct 23rd</p>
         Properties of Joint Distributions<br/><br/>

         <a href="{{pathToRoot}}lectures/13 PropertiesOfJoints.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/13 PropertiesOfJoints.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>

      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br>Due: PSet #3<br>Read: Chapter 6.4-6.5</div>
         <p class="subtleHeading">Oct 25th</p>
         Tracking in 2D Continuous Space <br/>

         <a href="{{pathToRoot}}lectures/14 PropertiesOfJoints2.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/14 Tracking.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}sections/section4.pdf"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Section 4</a>


      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Chapter 7.1-7.2</div>
         <p class="subtleHeading">Oct 27th</p>
         Convolution<br/><br/>

          <a href="{{pathToRoot}}lectures/15 Convolution.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/15 Convolution.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}pdfs/PracticeMidterm.pdf"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Practice Midterm</a>
      </div>
   </td>
<tr>
<td class="calendarWeekCell">6</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Chapter 7.3-7.4</div>
         <p class="subtleHeading">Oct 30th</p>
         Beta

         <a href="{{pathToRoot}}lectures/16 Beta.pdf"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a><br/>
<a href="{{pathToRoot}}lectureHandouts/16 Beta.pdf"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span> Lecture Notes</a><br/>
<a href="{{pathToRoot}}demos/beta.html"><span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true" title="pdf"></span> Beta Demo</a>

      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br>Midterm: Thursday, Nov 2nd<br>Read: Chapter 7.5-7.6   </div>
         <p class="subtleHeading">Nov 1st</p>
         Great Expectations

      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Chapter 7.7</div>
         <p class="subtleHeading">Nov 3rd</p>
         Covariance and Correlation
      </div>
   </td>
<tr>
<td class="calendarWeekCell">7</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Chapter 8.1-8.2, 8.5</div>
         <p class="subtleHeading">Nov 6th</p>
         Samples

      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br>Due: PSet #4<br>Read: Chapter 8.3-8.4</div>
         <p class="subtleHeading">Nov 8th</p>
         Central Theorems
         

      
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Lecture Handout</div>
         <p class="subtleHeading">Nov 10th</p>
         Parameters and MLE



      </div>
   </td>
<tr>
<td class="calendarWeekCell">8</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Lecture Handout</div>
         <p class="subtleHeading">Nov 13th</p>
          Maximum A Posteriori
        


      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br>Read: Lecture Handout</div>
         <p class="subtleHeading">Nov 15th</p>
          Naive Bayes

      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br>Due: PSet #5<br>Read: Lecture Handout</div>
         <p class="subtleHeading">Nov 17th</p>

         Logistic Regression


      </div>
   </td>
<tr>
<td class="calendarWeekCell">9</td>

   <td class="calendarCell" style="background-color:hsl(0, 0%, 95%)">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Nov 20th</p>
         <p>Thanksgiving<br/>No class</p>

      </div>
   </td>

   <td class="calendarCell" style="background-color:hsl(0, 0%, 95%)">
      <div style="position:relative">
         <div class="inOut"><br><br></div>
         <p class="subtleHeading">Nov 22nd</p>
         <p>Thanksgiving<br/>No class</p>


      </div>
   </td>

   <td class="calendarCell" style="background-color:hsl(0, 0%, 95%)">
      <div style="position:relative">
         <div class="inOut"><br><br></div>
         <p class="subtleHeading">Nov 24th</p>
         <p>Thanksgiving<br/>No class</p>

      </div>
   </td>
<tr>
<td class="calendarWeekCell">10</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br></div>
         <p class="subtleHeading">Nov 27th</p>
         Deep Learning I
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br/><br/></div>
         <p class="subtleHeading">Nov 29th</p>
         Deep Learning II
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br/><br/></div>
         <p class="subtleHeading">Dec 1st</p>
         Probabilistic Graphical Models
      </div>
   </td>

<tr>
<td class="calendarWeekCell">11</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br><br></div>
         <p class="subtleHeading">Dec 4th</p>
         CS109 Overview
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"><br/><br/></div>
         <p class="subtleHeading">Dec 6th</p>
         Final Review
      </div>
   </td>

   <td class="calendarCell" style="background-color:hsl(0, 0%, 95%)">
      <div style="position:relative">
         <div class="inOut"><br/><br/>Due: PSet #6</div>
         <p class="subtleHeading">Dec 8tb</p>
         <p>Dead Day<br/>No class</p>
      </div>
   </td>

</table>
</div>