<div class="table-responsive">
<table class="table table-bordered">
<thead>
   <tr>
      <th style="col-sm-3">Week</th>
      <th style="col-sm-3">Monday</th>
      <th style="col-sm-3">Wednesday</th>
      <th style="col-sm-3">Friday</th>
   </tr>
</thead>
<tr>
<td class="calendarWeekCell">1</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 3rd</p>
         Counting
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 5th</p>
         Perms and Combs
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 7th</p>
         Axioms of Probability
      </div>
   </td>
<tr>
<td class="calendarWeekCell">2</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 10th</p>
         Conditional Probability,
         Bayes Theorem
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 12th</p>
         Sampling Methods
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 14th</p>
         Independence
      </div>
   </td>
<tr>
<td class="calendarWeekCell">3</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 17th</p>
         Random Variables, Expectations
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 19th</p>
         Variance, Bernoulli and Binomial
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 21st</p>
         Discrete Distributions
      </div>
   </td>
<tr>
<td class="calendarWeekCell">4</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 24th</p>
         Continuous Random Variables
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 26th</p>
         Normal Distributions
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Apr 28th</p>
         Joint Distributions
      </div>
   </td>
<tr>
<td class="calendarWeekCell">5</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 1st</p>
         Independent Random Variables
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 3rd</p>
         Conditional Distributions
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 5th</p>
         Beta Distributions
      </div>
   </td>
<tr>
<td class="calendarWeekCell">6</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 8th</p>
         Variance From Events
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 10th</p>
         Covariance and Samples
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 12th</p>
         Correlation
      </div>
   </td>
<tr>
<td class="calendarWeekCell">7</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 15th</p>
         Conditional Expectation
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 17th</p>
         Central Theorems
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 19th</p>
         Parameters and Learning
      </div>
   </td>
<tr>
<td class="calendarWeekCell">8</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 22nd</p>
         Maximum Likelihood
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 24th</p>
         Maximum A Posteriori
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 26th</p>
         Naive Bayes
      </div>
   </td>
<tr>
<td class="calendarWeekCell">9</td>

   <td class="calendarCell" style="background-color:hsl(0, 0%, 95%)">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 29th</p>
         <p>Memorial Day<br/>No class</p>

      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">May 31st</p>
         Logistic Regression
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Jun 2nd</p>
         Deep Learning I
      </div>
   </td>
<tr>
<td class="calendarWeekCell">10</td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Jun 5th</p>
         Deep Learning II
      </div>
   </td>

   <td class="calendarCell">
      <div style="position:relative">
         <div class="inOut"></div>
         <p class="subtleHeading">Jun 7th</p>
         CS109 Overview
      </div>
   </td>

</table>
</div>